/* Стилі для STUDIO*/

/* колір основного тексту  #434455 */
/* колір другорядного тексту #2E2F42 */
/* білий текст #FFFFFF */
/* акцент #4D5AE5 */
/* колір фону макету там де контакти #FFFFFF */
/* колір фону #F4F4FD */
/* колір фону там де кнопка/футер #2E2F42 */
/* другорядний колір фону макету/фотокартки #F4F4FD */
/* лого #F4F4FD */
/* лого #4D5AE5 */
/* лого #2E2F42 */
/* text-footer*/
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --text-white-color: #FFFFFF;
    --secondary-fond-color: #2E2F42;
    --secondary-color-photocard: #F4F4FD;
    --text-color-footer: #E7E9FC;
}

body {
font-size: 16px;   
background-color: var(--text-white-color);
color: var(--secondary-fond-color);
font-family: Roboto, sans-serif;
}

/* logo */

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-text-color); 
    text-decoration: none;  
    }

/* nav-link*/

.nav-link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-fond-color);
       }
    .nav-link:hover{
     color:#404BBF;
       }

/* contact-link */

.contact-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
   }
   .contact-link:hover{
   color: #404BBF;
   }
 
   /* Hero */  

   .hero-title { 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-white-color);
    } 
   .hero {
    background-color:#2E2F42
   }

      /* Button */
   
    .button.primary {
    text-align: center;
    width: 105px;   
    font-size: 16px;
    padding: 32px;
    font-family: inherit;
    color: var(--text-white-color);
    background-color: var(--accent-color);  
    }
   
     /* Section */

        .list{
            list-style: none;
        }
    
    .section-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
     color: var(--primary-text-color);   
    }
    .section-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--secondary-fond-color)
    }

      /* Work-list*/ 

    .work-list{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--secondary-fond-color);
        
         }
         .section-team{
            top: 1548px;
            background:var(--secondary-color-photocard);
             }
      .letter-staff{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--secondary-fond-color);
                }
                
        .specialty-section{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
                }

          /* Footer */

    .footer {
     background-color: #2E2F42;
     top: 2280px;
             }

    .accent{
                color: #4D5AE5;
              }

    .logo-footer{
                color: #F4F4FD;
            }
    .footer-text {
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color:var(--text-color-footer);
                  } 

                 
                

 










 



               /* Стилі для portfolio */

/* колір основного тексту #2E2F42 */
/* колір другорядного тексту #434455 */
/* колір фону макету #FFFFFF */
/* footer #2E2F42 */  
/* білий текст #E7E9FC */
/* logo #F4F4FD */
/* кнопка активна #404BBF */
/* неактивна кнопка #4D5AE5 */

:root{
    --main-color-text: #2E2F42;
    --color-secondary-text: #434455;
    --color-maket: #FFFFFF;
    --color-footer: #2E2F42;
}


.link-button{
font-style: normal;
font-weight: 500;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color:var(--color-maket);
background-color: var(--accent-color);
}
.link-button:hover{
   color: #404BBF;
}



 
.poitner{
    cursor: pointer;
}




    
 








    
















































